<ion-view title="தமிழ்மொழி ஆண்டு 2 " id="page2" style="background-color:#1837DD;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" ui-sref="22()">
        <img src="img/xDyNbRaFQZOJ3cD0in7v_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <img src="img/RMdiqt2hR2i1rmEa8UEW_t.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>