<ion-view title="விடைகள் " id="page7">
  <ion-content padding="false" style="background: url(img/MqH4q6ZYSG6zWLhZfv0K_19bfd0d51dacdb4f8077293b21442729.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <ion-list id="page7-list1">
      <ion-item id="page7-list-item4">வரிக்குதிரை </ion-item>
      <ion-item id="page7-list-item5">முதலை</ion-item>
      <ion-item id="page7-list-item6">சிறுத்தை </ion-item>
    </ion-list>
    <ion-list id="page7-list2">
      <ion-item id="page7-list-item7">பாம்பு </ion-item>
      <ion-item id="page7-list-item8">ஒட்டகச்சிவிங்கி </ion-item>
    </ion-list>
    <button id="page7-button22" class="button button-assertive button-block">வாழ்த்துகள்!!! </button>
    <div>
      <img src="img/Q9Rv4KAQU2XKc6ojEjEG_61b9ef2a5e51957bc461d2a4f83b442f.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>