<ion-view title="உங்கள் சிந்தனைக்கு... " id="page6">
  <ion-content padding="true" style="background: url(img/auZPy8wQoG5kcgLSgmCw_Dew20Droplets.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ZLRiOkvS5WzGV1HmZjYg_5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page6-heading1" style="color:#000000;font-weight:600;text-align:center;">மேலேயுள்ளவற்றில் எது ஒன்றன்பால்? </h3>
    <form id="page6-form10" class="list">
      <label class="item item-select" id="page6-select2">
        <span class="input-label">தேர்ந்தெடு </span>
        <select>
          <option>வரிக்குதிரை</option>
          <option>சிங்கங்கள்</option>
          <option>குரங்குகள்</option>
          <option>முதலை</option>
          <option>சிறுத்தை</option>
          <option>யானைகள்</option>
          <option>பாம்பு</option>
          <option>மான்கள்</option>
          <option>ஒட்டகச்சிவிங்கி</option>
        </select>
      </label>
    </form>
    <div>
      <a style="display:block;" ui-sref="page7()">
        <img src="img/eljhfiKQS2nl1moHyw1w_1363098527_youloveit_ru_strawberry_shortcake_3d02.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <button id="page6-button21" class="button button-dark button-block">விடைகள் </button>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>