<ion-view title="விடைகள்" id="page18">
  <ion-content padding="true" style="background: url(img/KdA9DDJYQ22EVOLy5NRY_f4eae98cca4f2f2181054eff07b9802b.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 18px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/BSkksdgOSmmuggSxbkNl_.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <a style="display:block;" ui-sref="page3()">
        <img src="img/s4pCO6SN2p5OXE3MPIQ4_89edc2890c3d14a4ed3bbaab9be06a28.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>