<ion-view title="வினா விடை " id="page15">
  <ion-content padding="true" style="background: url(img/DxtpJKl8RYyuFqusehY2_flower-yellow-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h5 id="page15-heading6" style="color:#000000;font-weight:600;text-align:justify;">கொடுக்கப்பட்ட வாக்கியங்கள் ஒன்றன்பால் அல்லது பலவின்பால் எனக் கண்டறிந்து எழுதுக. </h5>
    <h4 id="page15-heading7" style="color:#000000;font-weight:600;">1. சிங்கம் கர்ஜித்தது. </h4>
    <form id="page15-form11" class="list">
      <label class="item item-input" id="page15-input2">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page15-heading8" style="color:#000000;">2. குரங்குகள் மரத்தில் தாவின. </h4>
    <form id="page15-form12" class="list">
      <label class="item item-input" id="page15-input3">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page15-heading9" style="color:#000000;">3. சிறுத்தை வேகமாக ஓடியது. </h4>
    <form id="page15-form13" class="list">
      <label class="item item-input" id="page15-input4">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page15-heading10" style="color:#000000;">4. மான்கள் காட்டில் வாழும். </h4>
    <form id="page15-form14" class="list">
      <label class="item item-input" id="page15-input5">
        <input type="text" placeholder="">
      </label>
      <div>
        <a style="display:block;" ui-sref="page11()">
          <img src="img/EtYaxMkXT1aM7NsrDHNf_source.gif" style="display: block; width: 26%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>