<ion-view title="விடைகள் " id="page28">
  <ion-content padding="true" class="has-header">
    <h1 id="page28-heading35" style="color:#000000;">1. பல </h1>
    <h1 id="page28-heading36" style="color:#000000;">2. உயர்திணை </h1>
    <div>
      <img src="img/VJ8pPkg8TbGJDy9eT9ae_180205_r31357.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page26()" id="page28-button119" class="button button-positive button-block">மீண்டும் முயற்சி செய்க...</a>
  </ion-content>
</ion-view>