<ion-view title="வினா விடை " id="page11">
  <ion-content padding="true" style="background: url(img/4QbMbVOOSEyogbZLXOeE_136454895712.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <h4 id="page11-heading11" style="color:#000000;">5. முதலை நீரில் நீந்தியது. </h4>
    <form id="page11-form10" class="list">
      <label class="item item-input" id="page11-input6">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page11-heading12" style="color:#000000;">6. குதிரை ஓடியது. </h4>
    <form id="page11-form15" class="list">
      <label class="item item-input" id="page11-input7">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page11-heading13" style="color:#000000;">7. புலிகள் இரை தேடின. </h4>
    <form id="page11-form16" class="list">
      <label class="item item-input" id="page11-input8">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page11-heading15" style="color:#000000;text-align:center;">முற்றும்.. விடை காண்க..</h4>
    <div>
      <a style="display:block;" ui-sref="page18()">
        <img src="img/FCe3RkgGScCj5spyp1iY_clipart-of-job-well-done-5.gif" style="display: block; width: 46%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>