<ion-view title="விடைகள் " id="page23">
  <ion-content padding="true" style="background: url(img/NYl1t5JhTHWhuiGxmfCi_f4eae98cca4f2f2181054eff07b9802b.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 0px;"></div>
    <h3 id="page23-heading23" style="color:#ECFFED;">1. அவை புத்தகங்கள் </h3>
    <h3 id="page23-heading24" style="color:#FFFAFA;">2. அது பூனை </h3>
    <h3 id="page23-heading25" style="color:#FFF8F8;">3. புலிகள் காட்டில் வாழும். </h3>
    <h3 id="page23-heading26" style="color:#FFFFFF;">4. சிறுத்தை ஓடியது. </h3>
    <h3 id="page23-heading27" style="color:#FFFFFF;">5. அழகான மலர் </h3>
    <h3 id="page23-heading28" style="color:#FCFCFC;">6. பெரிய மரங்கள் </h3>
    <h3 id="page23-heading29" style="color:#FFFFFF;">7. யானை நடந்தது</h3>
    <a ui-sref="page24()" id="page23-button97" style="font-weight:600;border-radius:30px 30px 30px 30px;" class="button button-royal button-block">வாழ்த்துகள்!!!</a>
    <div>
      <a style="display:block;" ui-sref="page24()">
        <img src="img/kXqiCN0QTumC93Xdd9QP_pg18_19_afternoon_3_30___6_30-1.gif" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>