<ion-view title="விடைகள் " id="page17">
  <ion-content padding="true" style="background: url(img/iZEJVUpCRqqrEg4JcIi2_background-design-animated-gif-8.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/u5gYs7QQmeHNnlTqJg5Q_1.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/UmAucmmnQvC2zvKddRSU_a760164f10261ecea53495c95784361b.gif" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <a style="display:block;" ui-sref="page3()">
        <img src="img/i4guy6MRAiBNAFk26wN0_InfiniteShimmeringChimpanzee-small.gif" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>