<ion-view title="காணொலி " id="page12">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video4=&quot;https://www.youtube.com/embed/4dzrUaox_TA?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page12-video4">
      <iframe src="{{videourl_video4}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 80px;"></div>
    <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/bPagJ26z350?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page12-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div>
      <a style="display:block;" ui-sref="page3()">
        <img src="img/GNxihmUWREWzh4grW9nd_2cd43b_23b0dd85dbfb4f5c84f9f95666d63cc9_mv2.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>