<ion-view title="விடைகள் " id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-dark icon No Icon"> பின் </button>
  </ion-nav-buttons>
  <ion-content padding="false" style="background: url(img/soGhLblpRCKy2uhUgB8n_17a7cb98cf48a1e985b06a210e11baad.gif) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <ion-list id="page7-list1">
      <ion-item id="page7-list-item4">வரிக்குதிரை </ion-item>
      <ion-item id="page7-list-item5">முதலை</ion-item>
      <ion-item id="page7-list-item6">சிறுத்தை </ion-item>
    </ion-list>
    <ion-list id="page7-list2">
      <ion-item id="page7-list-item7">பாம்பு </ion-item>
      <ion-item id="page7-list-item8">ஒட்டகச்சிவிங்கி </ion-item>
    </ion-list>
    <button id="page7-button22" style="color:#000000;" class="button button-calm button-block">வாழ்த்துகள்!!! </button>
    <a ui-sref="page3()" id="page7-button25" style="font-weight:600;color:#000000;font-size:20px;border-radius:1px 1px 1px 1px;" class="button button-light button-small button-block">அடுத்து..</a>
    <div>
      <img src="img/Q9Rv4KAQU2XKc6ojEjEG_61b9ef2a5e51957bc461d2a4f83b442f.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>