<ion-view title="காணொலி" id="page19">
  <ion-content padding="true" style="background: url(img/ax5i2L1ISUSsNj51azfg_a68130179ec9bebd0fe70bf7542d6ef8.gif) no-repeat center;background-size:cover;" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/LzA5KmAz_Z4?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page19-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 70px;"></div>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/IFIxtmglq6k?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page19-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <button id="page19-button106" class="button button-royal button-block">காணொலியைக் கண்டு அதிலுள்ள ஒன்றன்பால் பலவின்பால் சொற்களைக் கண்டறிந்து கறுக. . </button>
    <div>
      <a style="display:block;" ui-sref="page12()">
        <img src="img/bNfWmITNT2aKvViiV9LT_2cd43b_9a4696ce996f4051b72a48d8ed593a3e_mv2_d_2304_1296_s_2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>