<ion-view title="ஆசிரியரைப் பற்றி ..." id="page25">
  <ion-content padding="true" style="background: url(img/dO569oW5TN6KFrlMoFZZ_MS4p.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/uNSQW71T9GY9g1fuZTdH_giphy5.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page25-button102" class="button button-royal button-block">EMAIL: jayuvitra97.jn@gmail.com</button>
    <button id="page25-button103" class="button button-assertive button-block">Follow me on instagram: jayu_2897</button>
    <div>
      <a style="display:block;" ui-sref="2()">
        <img src="img/5kRKug2QjSaIAJs4QWbm_source.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>