<ion-view title="வாசித்துப் புரிந்து கொள்க" id="page14">
  <ion-content padding="true" style="background: url(img/Z9VkEyw7SOejjhPNwxwf_17a7cb98cf48a1e985b06a210e11baad.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/jAGsEvQn6ukGsMHdhrTQ_8.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 70px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ehar9hpPSHejtRMys5NP_9.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page5()" id="page14-button67" style="font-weight:500;color:#000000;" class="button button-energized button-block">அடுத்து...</a>
  </ion-content>
</ion-view>