<ion-view title="ஒன்றன்பால் " hide-nav-bar="true" id="page26">
  <ion-content padding="true" style="background: url(img/LgLdYHQ5SapzbLkrHDGP_FJFchO.gif) no-repeat center;background-size:cover;" class=" manual-remove-top-padding">
    <div class="spacer" style="height: 30px;"></div>
    <button id="page26-button104" style="border-radius:17px 17px 17px 17px;" class="button button-dark button-block">உன்னை சோதித்திடு !</button>
    <h3 id="page26-heading30" style="color:#000000;">ஒன்றன்பால் என்பது ______ பொருளைக் குறிக்கும். </h3>
    <div id="page26-button-bar16" class="button-bar">
      <a ui-sref="page27()" id="page26-button108" style="border-radius:20px 20px 20px 20px;" class="button button-dark button-block">ஒரு </a>
      <a ui-sref="page28()" id="page26-button109" style="border-radius:20px 20px 20px 20px;" class="button button-dark button-block">பல</a>
    </div>
    <h3 id="page26-heading32" style="color:#000000;">_________ பொருளைக் காட்டும்.</h3>
    <div id="page26-button-bar17" class="button-bar">
      <a ui-sref="page28()" id="page26-button114" style="border-radius:20px 20px 20px 20px;" class="button button-dark button-block">உயர்திணை</a>
      <a ui-sref="page27()" id="page26-button115" style="border-radius:20px 20px 20px 20px;" class="button button-dark button-block">அஃறிணை</a>
    </div>
    <div>
      <a style="display:block;" ui-sref="page4()">
        <img src="img/M01xM9RYS56nJ7EL3wLw_InfiniteShimmeringChimpanzee-small.gif" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a ui-sref="page27()" id="page26-button118" class="button button-assertive button-block">விடை காண்போம் ! </a>
  </ion-content>
</ion-view>