<ion-view title="படத்தைக் காண் " id="page5">
  <ion-content padding="true" style="background: url(img/Vy149tJxQoCQGeFryrQF_b4be2cdb810d831d671f1f7286302169.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/qaLK0bRQN6WypM6xMBNy_813FUlPQg8L._SX466_.jpg" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/qrPtPtDWTuek8JsckRPm_harmony-jungle-i3413.jpg" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <button id="page5-button105" class="button button-assertive button-block">படத்தில் உள்ள ஒன்றன்பால் பலவின்பால் சொற்களைக் கூறுக. </button>
    <div>
      <a style="display:block;" ui-sref="page6()">
        <img src="img/NeisiLwEQviuCMlGR0bN_source.gif" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>