<ion-view title="வளப்படுத்தும் நடவடிக்கை" id="page22">
  <ion-content padding="true" style="background: url(img/FJ6IMCHRa2dGlyxEyfjp_Desktop-Wallpaper-HD-3D-Full-Screen-Flowers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="page22-heading19" style="color:#F6FF24;font-weight:600;">4. சிறுத்தைகள் ஓடின.</h4>
    <form id="page22-form21" class="list">
      <label class="item item-input" id="page22-input13">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page22-heading20" style="color:#C5F600;font-weight:600;">5. அழகான மலர்கள் </h4>
    <form id="page22-form22" class="list">
      <label class="item item-input" id="page22-input14">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page22-heading21" style="color:#000000;font-weight:600;">6. பெரிய மரம் </h4>
    <form id="page22-form23" class="list">
      <label class="item item-input" id="page22-input15">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page22-heading22" style="color:#000000;font-weight:600;">7. யானைகள் நடந்தன</h4>
    <form id="page22-form24" class="list">
      <label class="item item-input" id="page22-input16">
        <input type="text" placeholder="">
      </label>
      <div>
        <img src="img/8cmrmsAQTGupvhuSiWwA_2cd43b_64528fa04f7c432d9d5a39a2e8268f65_mv2.png" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </div>
      <a ui-sref="page23()" id="page22-button96" style="font-weight:600;color:#000000;" class="button button-energized button-small button-block">விடைகள் காண்போம்! </a>
    </form>
  </ion-content>
</ion-view>