<ion-view title="உள்ளடக்கம் " id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-dark icon No Icon"> பின் செல்ல </button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/GS69RrDQF6AZuaCOFiQW_984d81f55545a98564b4af1fe0971d27.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/KOywAnezQ3CM8TjPBJTx_2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page3-button-bar2" class="button-bar"></div>
    <a ui-sref="page4()" id="page3-button17" style="font-weight:600;color:#02060F;font-size:20px;" class="button button-energized button-block">விளக்கம் </a>
    <a ui-sref="page9()" id="page3-button13" style="font-weight:600;font-size:20px;border-radius:-1px -1px -1px -1px;" class="button button-assertive button-block">பயிற்சி </a>
    <a ui-sref="page15()" id="page3-button18" style="font-weight:600;color:#020318;font-size:20px;" class="button button-calm button-block">வினா விடை </a>
    <a ui-sref="page19()" id="page3-button19" style="font-weight:600;color:#000000;font-size:20px;" class="button button-balanced button-block">காணொலி </a>
    <a ui-sref="page21()" id="page3-button98" style="font-weight:600;" class="button button-dark button-block">வளப்படுத்துதல் பயிற்சி </a>
  </ion-content>
</ion-view>