<ion-view title="பயிற்சி " id="page9" style="background-color:#CBE294;">
  <ion-content padding="true" style="background: url(img/TyjuuxS0CpnfFwq9B9xw_FJFchO.gif) no-repeat center;background-size:cover;" class="has-header">
    <h5 id="page9-heading5" style="color:#000000;font-weight:600;text-align:center;">கீழேயுள்ள படங்களைப் பார்த்து சரியான விடையைத் தேர்ந்தெடுக. </h5>
    <div>
      <img src="img/HgnlAeKvSgWF8pqmvK3D_3f72e54c3dabbc4fc4553a218bda5583.gif" style="display: block; width: 23%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page9-button-bar7" class="button-bar">
      <button id="page9-button51" style="font-size:17px;border-radius:20px 20px 20px 20px;" class="button button-positive button-block">ஒன்றன்பால் </button>
      <button id="page9-button52" style="border-radius:20px 20px 20px 20px;" class="button button-dark button-block">பலவின்பால் </button>
    </div>
    <div>
      <img src="img/pUzw6HM2Tsu3wbb4ERXI_50993722-stock-vector-cute-elephant-cartoon.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page9-button-bar8" class="button-bar">
      <button id="page9-button57" style="color:#000000;border-radius:20px 20px 20px 20px;" class="button button-balanced button-block">பலவின்பால் </button>
      <button id="page9-button58" style="border-radius:20px 20px 20px 20px;" class="button button-assertive button-block">ஒன்றன்பால் </button>
    </div>
    <div>
      <img src="img/Ngsw4TLVR7KV3IBKGFfK_ebd804f649889f35adb6e2b175e41519_resize.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page9-button-bar9" class="button-bar">
      <button id="page9-button63" style="font-weight:500;color:#FFFFFF;border-radius:20px 20px 20px 20px;" class="button button-dark button-block">ஒன்றன்பால் </button>
      <button id="page9-button64" style="font-weight:500;color:#030303;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">பலவின்பால் </button>
    </div>
    <a ui-sref="page13()" id="page9-button66" style="font-weight:600;font-size:20px;border-radius:20px 20px 20px 20px;" class="button button-stable button-small button-block">அடுத்து </a>
  </ion-content>
</ion-view>