<ion-view title="வளப்படுத்தும் நடவடிக்கை " id="page21">
  <ion-content padding="true" style="background: url(img/S6xjw6g6R5OTiEmSfMZi_937932_backgrounds-anak-wallpapers-coc_1600x1066_h.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h5 id="page21-heading14" style="color:#000000;font-weight:600;text-align:justify;">ஒன்றன்பாலை பலவின்பாலாகவும் பலவின்பாலை ஒன்றன்பாலாகவும் மாற்றி எழுதுக. </h5>
    <h4 id="page21-heading16" style="color:#000000;font-weight:600;">1. அது புத்தகம் </h4>
    <form id="page21-form17" class="list">
      <label class="item item-input" id="page21-input9">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page21-heading17" style="color:#000000;font-weight:600;">2. அவை பூனைகள் </h4>
    <form id="page21-form19" class="list">
      <label class="item item-input" id="page21-input11">
        <input type="text" placeholder="">
      </label>
    </form>
    <h4 id="page21-heading18" style="color:#000000;font-weight:600;">3. புலி காட்டில் வாழும் </h4>
    <form id="page21-form20" class="list">
      <label class="item item-input" id="page21-input12">
        <input type="text" placeholder="">
      </label>
    </form>
    <div>
      <a style="display:block;" ui-sref="page22()">
        <img src="img/EHuWlmimTkmBmvmTwOEd_source.gif" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer"></div>
  </ion-content>
</ion-view>