<ion-view title="விடைகள் " id="page27">
  <ion-content padding="true" class="has-header">
    <h1 id="page27-heading33" style="color:#000000;">1. ஒரு </h1>
    <h1 id="page27-heading34" style="color:#000000;">2. அஃறிணை</h1>
    <div>
      <img src="img/RermiDMZT9eSCPNiBDx7_89edc2890c3d14a4ed3bbaab9be06a28.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page27-button117" style="font-size:30px;" class="button button-dark button-block">வாழ்த்துகள்!!! </button>
    <a ui-sref="page14()" id="page27-button120" class="button button-positive button-block">அடுத்து...</a>
  </ion-content>
</ion-view>