<ion-view title="பயிற்சி " id="page16">
  <ion-content padding="true" style="background: url(img/awzEyLqEQWaOgbJiU9B7_f5186c8635f37e1e08d4e3608647768f.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/1wwtj7vdSA7kPC4ExNER_all_hearts___scar_by_lynxgriffin-d5fxkwi.jpg" style="display: block; width: 30%; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page16-button-bar13" class="button-bar">
      <button id="page16-button88" style="border-radius:19px 19px 19px 19px;" class="button button-dark button-block">பலவின்பால்</button>
      <button id="page16-button89" style="border-radius:19px 19px 19px 19px;" class="button button-positive button-block">ஒன்றன்பால்</button>
    </div>
    <div>
      <img src="img/HG8OIVPuSvKkaSLY0V9w_2cd43b_b3885168b6a9414eb876db61e0284b86_mv2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page16-button-bar14" class="button-bar">
      <button id="page16-button94" style="border-radius:19px 19px 19px 19px;" class="button button-stable button-block">பலவின்பால் </button>
      <button id="page16-button95" style="border-radius:19px 19px 19px 19px;" class="button button-assertive button-block">ஒன்றன்பால்</button>
    </div>
    <div>
      <img src="img/tf2PndPKRTuq8eL4Z0lh_icon2.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page16-button-bar15" class="button-bar">
      <button id="page16-button100" style="font-weight:500;color:#000000;border-radius:19px 19px 19px 19px;" class="button button-energized button-block">ஒன்றன்பால்</button>
      <button id="page16-button101" style="color:#FFFFFF;border-radius:19px 19px 19px 19px;" class="button button-royal button-block">பலவின்பால்</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="page17()">
        <img src="img/CX0HzGghT2I70hJnP0zA_2cd43b_cddba49ee3a74f7d8050a68db4f205e1_mv2.png" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>